{% extends 'base.html' %}

{% block title %}Detalles de la Publicación{% endblock %}

{% block content %}
    <h2>{{ publicacion.titulo }}</h2>
    <p>{{ publicacion.contenido }}</p>
    <p><strong>Autor:</strong> {{ publicacion.autor.username }}</p>
    <p><strong>Fecha:</strong> {{ publicacion.fecha_publicacion }}</p>
<div style="display: inline-flex">
    <form method="POST" action="{% url 'eliminar_post' publicacion.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
    <a href="{% url 'editar_post' publicacion.id %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'listar_post' %}" class="btn btn-secondary">Volver</a>
</div>
{% endblock %}

