{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Bienvenido a tu Blog</h1>
        <p>Desde aquí puedes realizar las siguientes acciones:</p>
        <div class="options">
            <a href="{% url 'crear_publicacion' %}" class="btn btn-primary">Crear Publicación</a>
            <a href="{% url 'listar_post' %}" class="btn btn-secondary">Ver Publicaciones</a>
            <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar Sesión</a>
        </div>
    </div>
{% endblock %}
